.moviesDisplay{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
.header{
    margin:auto;
    width: 80%;
    background-color: lightcoral;
    
    
}
h1{
    color: teal;
}
